[Desktop Entry]
Type=Service
Icon=/usr/share/git-gui/lib/git-gui.ico
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=open_git_gui;
Encoding=UTF-8

[Desktop Action open_git_gui]
Name=Open Git GUI
Name[de]=Git GUI öffnen
Icon=/usr/share/git-gui/lib/git-gui.ico
Exec=cd %f && git gui
